@model RealEstateV1.Models.T_position

<script src="~/Scripts/jquery-1.10.2.js"></script>



<script type="text/javascript">

    $(document).ready(function () {

        google.maps.event.addDomListener(window, 'load', initialize);

        var map;

        function initialize() {
            var mapProp =
                {
                    center: new google.maps.LatLng(@Model.X, @Model.Y),
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            var marker = new google.maps.Marker({
                position:  new google.maps.LatLng(@Model.X, @Model.Y),
                map: map,
                title: 'Tate Gallery'
            });

            //var data = [
            //    { "Id": 1, "PlaceName": "Liverpool Museum", "OpeningHours":"9-5, M-F","GeoLong": "53.410146", "GeoLat": "-2.979919" },
            //    { "Id": 2, "PlaceName": "Merseyside Maritime Museum ", "OpeningHours": "9-1,2-5, M-F", "GeoLong": "53.401217", "GeoLat": "-2.993052" },
            //    { "Id": 3, "PlaceName": "Walker Art Gallery", "OpeningHours": "9-7, M-F", "GeoLong": "53.409839", "GeoLat": "-2.979447" },
            //    { "Id": 4, "PlaceName": "National Conservation Centre", "OpeningHours": "10-6, M-F", "GeoLong": "53.407511", "GeoLat": "-2.984683" }
            //];

            //$.each(data, function (i, item) {
            //    var marker = new google.maps.Marker({
            //        'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
            //        'map': map,
            //        'title': item.PlaceName
            //    });

            //    // Make the marker-pin blue!
            //    marker.setIcon('https://maps.google.com/mapfiles/ms/icons/blue-dot.png')

            //    // put in some information about each json object - in this case, the opening hours.
            //    var infowindow = new google.maps.InfoWindow({
            //        content: "<div class='infoDiv'><h2>" + item.PlaceName + "</h2>" + "<div><h4>Opening hours: " + item.OpeningHours + "</h4></div></div>"
            //    });

            //    // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
            //    google.maps.event.addListener(marker, 'click', function () {
            //        infowindow.open(map, marker);
            //    });

            //});



        }
    });

</script>

<div style="position: relative; top: 0px; max-width: 100%; left: 0px; width: 100%; height: 456px; background: #191919;">
    <div style="position: absolute; width:100%; height: 50px; z-index: 99;">
        <div style="position: absolute; background-color: #808080; filter:alpha(opacity=30); opacity:.3; width: 100%; height:100%;"></div>
        <div style="position: absolute;">
            <a id="Bmaps" onclick="reLoad('Bmaps')">خريطه </a>
            <a id="Bpic" onclick="reLoad('Bpic')">صور </a>
            <a id="Bvideo" onclick="reLoad('Bvideo')">فيديو </a>
            <a id="BPanorama" onclick="reLoad('BPanorama')">صور بنورامية </a>
            <a id="Bblueprint" onclick="reLoad('Bblueprint')">مخططات </a>
        </div>
    </div>
    <div id="googleMap" style="width:100%;height:456px;"> </div>
</div>




<!-- This css is to ensure that the google map contols (zoom bar etc) show and size correctly. -->
<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>