
<li class="row">

    <a href="#" class="col-lg-6">
        <img src="@Url.Content("~/Content/images/ad2.jpg")" />
    </a>

    <section class="list-top col-lg-6">
        <span class="title">فيلا</span>
        <br />
        <span class="price rent">2000<b>ريال / شهر</b></span>
        <dl>
            <dt>المدينة</dt>
            <dd>حي</dd>
            <dt>عدد الغرف</dt>
            <dd>8</dd>
        </dl>

    </section>

</li>

