@model IEnumerable<RealEstateV1.Models.T_Sale>

@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_SearchBar", new RealEstateV1.Busniss.SearchItem() { SearchKind = RealEstateV1.Busniss.MyEnumType.SearchKind.Sale })
<table class="table">
   
@if (Model == null)
{
    <tr>
        <td>لايوجد بيانات</td>
    </tr> 
}
else
{
    foreach (var item in Model)
    {
   
@Html.Partial("_SalePartial",new ViewDataDictionary { { "returnUrl", @ViewBag.returnUrl } });
    }
}

</table>

